body {      /*Enleve l'espace sur les cotes */
  margin: 0;
}

  /* En tete et barre de naviguation*/
.header-wrapper {     /* Permet au header de rester fix au milieu */
  position: sticky;  /*Reste au haut de la page*/
  top: 0;
  z-index: 1000;
  padding: 8px;
 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(2, 2, 2, 0.329);    /* Cree une ombre autour du header */

}

header h1 {     /*titre du header*/
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

header nav ul {
  list-style: none;   /* enlève les points */
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  /* espace entre items */
}

header nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #Ff914D;
  text-decoration: underline;  /*effet survol*/
}

.logo {
  width: 60px;
  margin-right: 20px;
  border-radius: 100%;
}



/*Titre de la page du blog*/
h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
    color: #ff9900;
}

/* Liste de blog */
.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 60px auto;
    gap: 30px;
    padding: 0 20px;
}

.blog-card {
    background-color: white;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {    /*Effet survol*/
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.blog-card h3 {      /*titre de carte*/
    color: #ff4d4d;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.blog-card p {
    font-size: 18px;
    margin-bottom: 20px;
}

.blog-image {
    width: 10em;
    height: 10em;
    border-radius: 10px;
}

/* Bouton pour lire l'article */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {    /*Effet survol*/
    background-color: #e63939;
    
}

/*bonus javascript*/
.question h3 {
    color: #07006e;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.question {
  text-align: center;
}
.question input{
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}

div .btn {
  font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #594dff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
    margin-top: 50px;
}

